# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv 
to_do_list/
.to_do_list
bin
lib
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
*.local

# Logs
*.log